body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmn-toggle {
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
}
.cmn-toggle-round + label {
    width: 500px;
    height: 60px;
    background-color: #dddddd;
    border-radius: 60px;
}
.cmn-toggle-round + label:before,
.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
}
.cmn-toggle-round + label:after {
    width: 58px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.cmn-toggle-round:checked + label:before {
    background-color: #4ec400;
    animation: color 2s ease;
    animation-iteration-count: 6;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.cmn-toggle-round:checked + label:after {
    animation: switch 2s ease;
    animation-iteration-count: 6;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes color {
    0% {
        background-color: #ff4d4d;
    }
    25% {
        background-color: #6600ff;
    }
    50% {
        background-color: #666633;
    }
    75% {
        background-color: #0099cc;
    }
    100% {
        background-color: #ffff66;
    }
}
@keyframes switch {
    0% {
        margin-left: 0px;
    }
    25% {
        margin-left: 111px;
    }
    50% {
        margin-left: 222px;
    }
    75% {
        margin-left: 334px;
    }
    100% {
        margin-left: 445px;
    }
}

